

<header>
    <nav>
        <ul class="nav-menu">
            <li><a href=""><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
            <li><a href="#">Le bar</a></li>
            <li><a href="#">La carte</a></li>
            <li><a href="">La boutique</a></li>
            <li><a href="{{ url('contact.contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>

